# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
~*.*
out
gen

# Vim files
*.*~
*.swp

# Folder that contains meetings notes in .docx format
docx_files
